body {
    background-color: white;
}
h1 {
    font-family: helvetica;
    font-weight: bolder;
    font-size: 100px;
text-transform: uppercase;
background-image: url('https://media.giphy.com/media/xUA7aKCtqnlAzuIg8M/giphy.gif');
background-size: 500px 500px;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
h2 {
    font-family: helvetica;
    font-size: 20px;
    text-transform: uppercase;



}
.assignments {

}
.projects {
}
.dropbtn1 {
  background-color: white;
  border-radius: 45px;
  color: black;
  padding: 16px;
  font-size: 50px;
  border-style: dashed;
  border-color: #000dff;
}
.dropbtn1:hover {
    background: #000dff;
    color: white;
}
.dropbtn2 {
     background-color: white;
    color: black;
    padding: 16px;
    font-size: 50px;
    border-radius: 45px;
    border-style: dashed;
    border-color: #000dff;
}
.dropbtn2:hover {
    background: #000dff;
    color: white;
}
.dropdown {
  position:relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: static;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 16px 30px;
  font-size: 30px;
  font-family: helvetica;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
