html,
body {
    margin: 0;
    height: 800px;
}
* {
    box-sizing: border-box;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    position: absolute;
    margin-top: -8vh;
    margin-left: -1vw;
    width: 102%;
    height: 106%;
    z-index: 1;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "ApfelGrotezk-Regular";

  src: url("../fonts/ApfelGrotezk-Regular/fonts/ApfelGrotezk-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ApfelGrotezk-Regular/fonts/ApfelGrotezk-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ApfelGrotezk-RegularBrukt";

  src: url("../fonts/ApfelGrotezk-RegularBrukt/fonts/ApfelGrotezk-RegularBrukt.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ApfelGrotezk-RegularBrukt/fonts/ApfelGrotezk-RegularBrukt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.close {
display: none;
    position: fixed;
    z-index: 201;
    color: white;
    font-size: 4.5vw;
    margin-left: 2vw;
    letter-spacing: -.15vw;
    line-height: 5vw;
      font-family: "ApfelGrotezk-Regular";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.close:hover {
    cursor: pointer;
}
#blobpopup {
    z-index: 1;
    position: absolute;
    height: 125%;
    width: 100%;
    fill: #9cf26e;
    margin-left: -2vw;
    margin-right: 2vw;
    margin-top: -13vh;
}
.popuptext {
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    padding: 6vw;
    margin-left: 1vw;
    margin-right: 0vw;
    margin-top: -8vh;
    font-size: 4vw;
    letter-spacing: normal;
    line-height: 4.5vw;
    font-family: "ApfelGrotezk-Regular";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.popup {
    display: none;
    position: fixed;
    opacity: .9;
}
p {
margin: 1vw;
}
a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all .2s ease-in-out;
}
a:hover {
font-family: "ApfelGrotezk-RegularBrukt";
    color: #9cf26e;

}

.popupcovid {
color: black;
    font-family: "ApfelGrotezk-RegularBrukt";

}
.title {
    position: relative;
    color: white;;
    height: 1vh;
    width: 100vw;
    z-index: 99;
    top: 6vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin-top: 5vh;
    text-align: center;
    align-items: center;
    font-family: "ApfelGrotezk-RegularBrukt";
    font-size: 20vw;
    line-height: 15vw;
    cursor: default;
}
.arrow {
    position: relative;
    top: 64vh;
    height: 1vh;
    width: 100vw;
    z-index: 99;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-top: 0vh;
    text-align: center;
    align-items: center;
    font-family: "ApfelGrotezk-RegularBrukt";
    font-size: 13vw;
    line-height: 15vw;
    cursor: default;
}
.container {
    max-width: auto;
    margin: auto;
}
.hidden-lightbox-caption {
    display: none;
}
.portfolio .portfolio-items {
    position: relative;
top: 95vh;
    background: white;
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .portfolio-items .item {
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin-bottom: 10px;
    position: relative;
}
.portfolio .portfolio-items .item img {
    width: 100%;
    display: block;
}
#overlay1 {
position: absolute;
z-index: 1;
height: 125%;
width: 125%;
}
#overlay2 {
position: absolute;
z-index: 1;
height: 125%;
width: 125%;
}
#overlay3 {
position: absolute;
z-index: 1;
height: 125%;
width: 125%;
}
#overlay4 {
    position: absolute;
    z-index: 1;
    height: 125%;
    width: 125%;
}
.portfolio .portfolio-items .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
      font-family: "ApfelGrotezk-Regular";
    color: #5dbe67;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-items .item:hover .overlay {
    transform: scale(0.5);
    opacity: 1;
}
.portfolio .portfolio-items .item .overlay h2 {
    font-size: 55px;
    align-items: center;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    margin: 30px 0;
    z-index: 100;
    cursor: pointer;
}

/* lightbox */
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(226, 226, 226, 0.9);
    display: none;
    justify-content: center;
    cursor: zoom-out;
}
.lightbox.open{
    display: flex;
}
.lightbox .lightbox-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 570px;
    padding: 40px;
    cursor: pointer;
}
.lightbox .lightbox-content {
    position: relative;
}
.lightbox .lightbox-close {
    position: absolute;
    z-index: 101;
    height: 40px;
    width: 40px;
    top: 0;
    color: white;
    cursor: zoom-out;
    font-size: 30px;
}
.lightbox .lightbox-caption {
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(156, 242, 110, 1));
    color: black;
    font-family: "ApfelGrotezk-Regular";
    font-size: 27px;
    left: 0;
    bottom: 0vh;
    height: 26vh;
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: left;
    align-items: flex-end;
    vertical-align: text-bottom;
    justify-content: space-between;
    z-index: 1;
}
.lightbox .lightbox-controls div {
    position: absolute;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        top: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        justify-content: center;
        line-height: 43px;
        font-size: 40px;
        margin-top: -20px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s ease;
        background-color: white;
        font-family: "ApfelGrotezk-Regular";
}
.lightbox-counter {
    white-space: nowrap;
    font-size: 27px;
}
.lightbox .lightbox-controls div:hover {
background-color: #9cf26e;
}
.lightbox .lightbox-controls div.prev {
    left: 30px;
}
.lightbox .lightbox-controls div.next {
    right: 30px;
}

@media(max-width:991px){
    .portfolio .portfolio-items .item{
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .lightbox .lightbox-caption {
        font-size: 23px;
        height: 33vh;
    }
    .lightbox-counter {
        font-size: 15px;
    }
    .popuptext {
        padding: 8vw;
       margin-left: 1vw;
       margin-right: 0vw;
       margin-top: -10vh;
       font-size: 4vw;
}
}
@media (max-width:575px){
    .portfolio .portfolio-items .item{
        flex-basis: calc(100%);
        max-width: calc(100%);
}
.lightbox .lightbox-caption {
    font-size: 20px;
    height: 45vh;
}
.lightbox-counter {
    font-size: 12px;
}
.lightbox .lightbox-img {
    max-height: 475px;
}
.popuptext {
padding: 6vw;
     margin-left: 1vw;
     margin-right: 0vw;
     margin-top: -3vw;
     margin-bottom: 10vh;
     font-size: 4vw;
}
}
