body {
    margin: 2vw;
}
@font-face {
  font-family: "Lausanne-Regular";

  src: url("../fonts/Lausanne-Regular/fonts/lausanne.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lausanne-Regular/fonts/lausanne.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
h1 {
position: relative;
top: -15vh;
    font-family: "Lausanne-Regular";
    font-size: 15vw;
line-height: 13vw;
    background-image: url(../imgs/blob5.gif);
    background-size: 400px;
background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
