body {
    background: #ed9ec9;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 70px;
    font-family: helvetica;
    position: relative;
    color: black;
    z-index: 2;
    top: 50px;
    left: 1050px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}
.container2 {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 0px;
}
.container3 {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 562px;
    left: 518px;
}
.container4 {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 928px;
}
.container5 {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 463px;
    left: 1238px;
}
.line2 {
    width: 500px;
    height: 10px;
    color: white;
    margin: 5px;
background-color: #397D54;
position: relative;
    z-index: 1;
}
.line3 {
    width: 400px;
    height: 10px;
    color: white;
    margin: 5px;
background-color: #73C088;
position: relative;
    z-index: 1;
}
.line4 {
    width: 300px;
    height: 10px;
    color: white;
    margin: 5px;
background-color: #A8E0B7;
position: relative;
    z-index: 1;
}
.line5 {
    width: 200px;
    height: 10px;
    color: white;
    margin: 5px;
background-color: #C8EAD1;
position: relative;
    z-index: 1;
}
.square1 {
    height: 500px;
    width: 500px;
    background-color: #397D54;
margin: 5px;
box-shadow: 0px 20px 100px #397D54;
}
.square2 {
    height: 400px;
    width: 400px;
    background-color: #73C088;
margin: 5px;
box-shadow: 0px 15px 100px #73C088;
}
.square3 {
    height: 300px;
    width: 300px;
    background-color: #A8E0B7;
    margin: 5px;
    box-shadow: 0px 10px 50px #A8E0B7;
}
.square4 {
    height: 200px;
    width: 200px;
    background-color: #C8EAD1;
    margin: 5px;
    box-shadow: 0px 5px 30px #C8EAD1;
}
